LoginServiceApplication/LoginServiceApplication/Service References/StudentServiceRef/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://193.10.202.71/StudentServiceApplication/StudentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://193.10.202.71/StudentServiceApplication/StudentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://193.10.202.71/StudentServiceApplication/StudentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentServiceApplication" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentService_CreateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentService_CreateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByUserId" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetAllStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudents" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetAllStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentService_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_UpdateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentService_UpdateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_IsRunning_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRunning" />
  </wsdl:message>
  <wsdl:message name="IStudentService_IsRunning_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRunningResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentService">
    <wsdl:operation name="CreateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/CreateStudent" message="tns:IStudentService_CreateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/CreateStudentResponse" message="tns:IStudentService_CreateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetStudentByUserId" message="tns:IStudentService_GetStudentByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetStudentByUserIdResponse" message="tns:IStudentService_GetStudentByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetAllStudents" message="tns:IStudentService_GetAllStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetAllStudentsResponse" message="tns:IStudentService_GetAllStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/DeleteStudent" message="tns:IStudentService_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/DeleteStudentResponse" message="tns:IStudentService_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/UpdateStudent" message="tns:IStudentService_UpdateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/UpdateStudentResponse" message="tns:IStudentService_UpdateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsRunning">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/IsRunning" message="tns:IStudentService_IsRunning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/IsRunningResponse" message="tns:IStudentService_IsRunning_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentService" type="tns:IStudentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentService/CreateStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentByUserId">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetStudentByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStudents">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetAllStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentService/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentService/UpdateStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRunning">
      <soap:operation soapAction="http://tempuri.org/IStudentService/IsRunning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="BasicHttpBinding_IStudentService" binding="tns:BasicHttpBinding_IStudentService">
      <soap:address location="http://193.10.202.71/StudentServiceApplication/StudentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>