DecoreSysAdminFront/DecoreSysAdminFront/Service References/StudentServiceRef/StudentService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentServiceApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentServiceApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StudentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuccessfulOperation" type="xs:boolean" />
      <xs:element minOccurs="0" name="UnionExpiration" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentInfo" nillable="true" type="tns:StudentInfo" />
  <xs:complexType name="ArrayOfStudentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentInfo" nillable="true" type="tns:StudentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentInfo" nillable="true" type="tns:ArrayOfStudentInfo" />
</xs:schema>